html, body {
	width: 100%;
	min-height: 100%;
	padding: 0;
	margin: 0;
}

body {
	min-width: 1206px;
	max-width: 1920px;
	overflow-x: hidden;
	font-family: 'Inter', sans-serif;
	color: black;
	background-color: #fcfcfc;
}

* {
	position: relative;
	box-sizing: border-box;
	max-width: 100%;
}

@font-face {
	font-family: 'Inter', sans-serif;
	font-weight: normal;
	src: url("../fonts/Inter-Regular.ttf") format('truetype');
}

p, h2, h3 {
	margin: 0;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
}

.mobile-only {
	display: none;
}

.btn {
	border-radius: 100px;
	background-color: #ffdf11;
	padding: 12px 21px;
	top: -7px;
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
}

.orange-btn:hover,
.orange-btn:focus {
	background-color: #ffd111;
}

.orange-btn:active {
	background-color: #ffbf00;
}

.gray-btn:hover,
.gray-btn:focus {
	background-color: #434343 !important;
	color: white !important;
	border-color: #434343 !important;
}

.gray-btn:active {
	background-color: #1c1c1c !important;
	color: white !important;
	border-color: #1c1c1c !important;
}

.container {
	width: 1206px;
	margin: 0 auto;
}

.container {
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
	scrollbar-width: none;
}

.container::-webkit-scrollbar {
	display: none;
}

.overflow-x-wrap {
	overflow: hidden;
}

.overflow-x-wrap .scroll-wrap {
	padding-bottom: 20px;
	padding-right: 20px;
	box-sizing: content-box;
	overflow-x: auto;
	height: 100%;
}

.map .overflow-x-wrap {
	top: -20px;
	left: -20px;
}

.map .overflow-x-wrap .scroll-wrap {
	padding-top: 20px;
	padding-left: 20px;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

a.anchor {
	top: -80px;
}

a.x-decorated {
	text-decoration: underline;
}

a.x-decorated:hover {
	color: #4393f9;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 9000px;
	opacity: .2;
	background-position: top center;
	background-repeat: no-repeat;
}

#toggle-overlay {
	position: fixed;
	bottom: 30px;
	left: 30px;
	padding: 30px 50px;
	font-size: 20px;
	opacity: .8;
	border-radius: 20px;
	background-color: black;
	color: white;
	cursor: pointer;
}

.main-site-link {
	background-color: #e5e5e5;
	background-image: url("../img/header-link.svg");
	background-position: top center;
	background-size: auto 100%;
	background-repeat: no-repeat;
	height: 60px;
	cursor: pointer;
	margin-bottom: 70px;
}

.main-site-link .container {
	min-height: 100%;
}

.main-site-link .x-title {
	position: absolute;
	top: 20px;
	left: 327px;
	font-size: 18px;
}

.main-site-link .btn {
	position: absolute;
	top: 12px;
	right: 326px;
	background: none;
	border: 1px solid #434343;
	padding: 7px 19px;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.25;
	letter-spacing: -0.32px;
	color: #434343;
}

header {
	position: fixed;
	top: 60px;
	left: 0;
	display: flex;
	flex-direction: row;
	height: 70px;
	width: 100%;
	background-color: #fcfcfc;
	z-index: 100;
}

header.x-in-scroll .x-link {
	color: rgb(191, 191, 191);
}

.logo {
	top: 10px;
	max-width: 135px;
	margin-right: 72px;
	left: 31px;
}

header .x-links {
	display: inline-flex;
	flex-direction: row;
	max-width: 700px;
	top: -5px;
}

header .x-link {
	margin-right: 27px;
}

header .x-link.x-active {
	color: black;
}

header .btn {
	position: absolute;
	right: 0;
	top: 15px;
}

.first-screen {
	background-color: #ffcf11;
}

.first-screen .container {
	display: flex;
	flex-direction: column;
	min-height: 614px;
	justify-content: center;
	padding: 15px 32px 20px;
	overflow: visible;
}

.first-screen .x-bg {
	position: absolute;
	top: 0;
	right: -138px;
	width: calc(100% + 200px);
	height: 100%;
	background-image: url("../img/fs_bg.png");
	background-repeat: no-repeat;
	background-position: calc(100% + 40px) 40px;
}

.first-screen h1 {
	font-size: 52px;
	line-height: 58px;
	margin: 0 0 30px;
	color: #262626;
	letter-spacing: -1px
}

.first-screen p {
	font-size: 18px;
	margin: 0 0 60px;
	color: #444444;
}

.first-screen .btn {
	border: 1px solid #444444;
	background-color: rgba(0, 0, 0, 0);
	font-size: 16px;
	padding: 14px 27px;
	color: #434343;
}

.main-props {
	margin-bottom: 30px;
}

.main-props a.anchor {
	top: -160px;
}

.main-props .container {
	border-radius: 4px;
	box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.07);
	background-color: #ffffff;
	top: -74px;
	padding: 6px;
	left: -14px;
}

.main-props .x-props {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	padding: 48px 38px 48px 69px;
	margin: 0;
}

.main-props .x-icon-wrap {
	padding: 12px;
	border-radius: 100px;
	width: 72px;
	height: 72px;
	background-color: #f0f0f0;
	margin-bottom: 25px;
}

.main-props .x-icon {
	width: 48px;
	height: 48px;
}

.main-props .x-title {
	font-size: 24px;
	font-weight: 600;
	line-height: 1.1;
	letter-spacing: -0.24px;
	color: #262626;
	margin-bottom: 20px;
}

.main-props .x-body {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: -0.18px;
	color: #656565;
}

.map .container {
	padding: 165px 0 0 31px;
	margin-bottom: -40px;
}

.map .x-bg {
	position: absolute;
	top: -68px;
	right: -443px;
	width: 100%;
	height: 100%;
	background-image: url("../img/map.svg");
	background-repeat: no-repeat;
	background-position: 0 90px;
}

.map .container > .x-title {
	font-size: 42px;
	font-weight: 600;
	line-height: 1.15;
	letter-spacing: -0.42px;
	color: #262626;
	margin-bottom: 30px;
}

.map .x-props-inline {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.4;
	letter-spacing: -0.2px;
	color: #656565;
	margin-bottom: 82px;
}

.achievements-on-map {
	display: flex;
	margin-bottom: 165px;
	transition: all .3s;
}

.achievement-description-wrap {
	position: absolute;
	width: 392px;
	padding: 20px 50px 20px 20px;
	box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.12);
	font-size: 16px;
	opacity: 0;
	top: 585px;
	transition: all .3s;
}

.achievement-description-wrap .x-title {
	font-weight: 600;
	margin-bottom: 15px;
}

.map .achievement-element {
	margin-right: 28px;
}

.map .achievement-element {
	cursor: pointer;
}

.map .achievement-element img {
	width: 44px;
	height: 64px;
	transition: all .2s;
}

.map .achievement-element img:hover {
	transform: scale(1.3);
}

.franchise-invest {
	padding-top: 20px;
	text-align: center;
}

.franchise-invest h2 {
	margin: 0 auto 30px;
	line-height: 1.2;
	letter-spacing: -0.42px;
	color: #262626;
	font-size: 42px;
	font-weight: 600;
}

.franchise-invest p {
	max-width: 800px;
	margin: 0 auto 38px;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: -0.18px;
	color: #656565;
}

.franchise-invest .x-video-thumb {
	width: 710px;
	height: 461px;
	margin: 0 auto;
	border-radius: 4px;
	background-color: #f6e049;
	background-image: url("../img/video-thumb.jpg");
	background-size: 100% 100%;
	background-position: center;
	cursor: pointer;
	transition: all .6s;
	z-index: 1;
}

.franchise-invest .x-video-thumb img {
	position: absolute;
	top: calc(50% - 78px);
	right: calc(50% - 78px);
	width: 156px;
	height: 156px;
	transition: all .8s;
}

.franchise-invest .x-video-thumb:hover img {
	transform: scale(1.3);
}

.risks {
	margin-top: -80px;
	padding-top: 157px;
	background-color: #f0f0f0;
	padding-left: 61px;
}

.risks h2 {
	line-height: 1.15;
	letter-spacing: -0.42px;
	color: #262626;
	font-size: 42px;
	font-weight: 600;
	margin: 35px 0 30px;
}

.risks p {
	margin-bottom: 55px;
	line-height: 1.4;
	letter-spacing: -0.18px;
	color: #656565;
	font-size: 18px;
	font-weight: 500;
}

.risks .orange-btn {
	color: black;
}

.risks-tabs-variants {
	transition: all .4s;
}

.risks-tabs-variants ul {
	display: inline-flex;
	padding-left: 0;
	list-style: none;
	margin: 0;
}

.risks-slider {
	margin-bottom: 60px;
}

.risks-slider .x-tabs-line {
	line-height: 1.15;
	letter-spacing: -0.14px;
	color: #82848c;
	margin-bottom: 36px;
}

.tabs-moving-border {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: black;
	transition: all .4s;
}

.risks-slider .x-tabs-line .x-tabs-wrap {
	display: inline-flex;
}

.risks-slider .x-tabs-line .x-tabs-elem.x-active {
	color: black;
}

.risks-slider .x-tabs-line .x-tabs-elem {
	margin-right: 32px;
	padding: 18px 0;
	transition: all .3s;
}

.risks-slider .x-tabs-line .x-tabs-elem:hover {
	cursor: pointer;
}

.risks-slider .x-tabs-line .btn {
	position: absolute;
	top: 5px;
	right: 61px;
	font-size: 15px;
	font-weight: 600;
	padding: 15px 24px;
}

.risks-slider .x-variant .x-tab-body {
	display: block;
	width: 362px;
	padding: 30px;
	border-radius: 4px;
	background-color: white;
	margin-right: 30px;
}

.risks-slider .x-variant .x-tab-body .x-body {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: -0.18px;
	color: #82848c;
}

.risks-slider .x-title-first {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.4;
	letter-spacing: -0.2px;
	color: #262626;
}

.risks-slider .x-title-second {
	font-size: 36px;
	font-weight: 600;
	line-height: 1.4;
	letter-spacing: -0.36px;
	color: #262626;
	margin-bottom: 20px;
}

.same-risks-variants {
	transition: all .4s;
}

.same-risks-variants .x-title {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.4;
	letter-spacing: -0.2px;
	color: #262626;
	margin-bottom: 30px;
}

.same-risks-variants .x-elements {
	display: inline-flex;
	list-style: none;
	padding-left: 0;
	margin: 0;
	padding-bottom: 80px;
}

.same-risks-variants .x-element {
	width: 362px;
	padding: 30px;
	margin-right: 30px;
	border-radius: 4px;
	background-color: #ffdf11;
}

.same-risks-variants .x-element .x-title {
	font-size: 20px;
	font-weight: bold;
	line-height: 1.4;
	letter-spacing: -0.2px;
	color: #262626;
	margin-bottom: 5px;
}

.same-risks-variants .x-element .x-body {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: -0.18px;
	color: #262626;
	margin-bottom: 27px;
}

.same-risks-variants .x-element .x-result-title {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: -0.18px;
	color: #656565;
}

.same-risks-variants .x-element .x-result-body {
	font-size: 24px;
	font-weight: bold;
	line-height: 1.4;
	letter-spacing: -0.24px;
	color: #262626;
}

.main-info {
	padding-top: 80px;
}

.main-info .container {
	padding: 0 31px;
}

.main-info .x-part-first {
	display: inline-flex;
}

.main-info .fixed-sidebar-wrap {
	width: 360px;
	margin-right: 30px;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: -0.16px;
}

.main-info .fixed-sidebar-wrap h2 {
	font-size: 42px;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: -0.42px;
	color: #262626;
	margin: 0 0 40px;
}

.main-info .fixed-sidebar-wrap .x-subheader {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.1;
	letter-spacing: -0.2px;
	color: #262626;
	margin-bottom: 20px;
}

.main-info .fixed-sidebar-wrap .main-stats {
	color: #656565;
	margin-bottom: 20px;
}

.main-info .fixed-sidebar-wrap p:not(:last-child) {
	margin-bottom: 22px;
}

.main-info .main-info-body {
	width: calc(100% - 390px);
}

.main-info .x-part-first {
	margin-bottom: 60px;
}

.main-info .x-part-first img {
	margin-bottom: 30px;
	height: 500px;
	width: auto;
}

.main-info .x-part-first p {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: -0.18px;
	color: #656565;
}

.main-info .main-info-body p {
	font-size: 18px;
}

.main-info .x-part-first .x-body ~ img {
	margin-top: 83px;
}

.main-info .x-part-first h3 {
	font-size: 24px;
	font-weight: 600;
	line-height: 1.1;
	letter-spacing: -0.24px;
	color: #262626;
	margin: 0 0 15px;
}

.main-info .x-part-second .x-elements {
	display: inline-flex;
	justify-content: space-between;
}

.main-info .x-part-second .x-element {
	width: calc(50% - 15px);
}

.main-info .x-part-second .x-image {
	margin-bottom: 3px;
	max-height: 350px;
	width: 100%;
}

.main-info .x-part-second h3 {
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.1;
	letter-spacing: -0.24px;
	color: #262626;
}

.main-info .x-part-second p {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: -0.18px;
	color: #656565;
}

.main-info {
	margin-bottom: 80px;
}

.already-invested {
	padding-top: 20px;
	margin-bottom: 120px;
}

.already-invested .container {
	padding: 0 30px;
}

.already-invested h2 {
	font-size: 42px;
	font-weight: 600;
	line-height: 1.15;
	letter-spacing: -0.42px;
	color: #262626;
	margin-bottom: 40px;
}

.already-invested .btn {
	position: absolute;
	top: 50px;
	right: 32px;
	padding: 12px 26px;
}

.already-invested .x-elements {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding-left: 0;
}

.already-invested .x-element {
	border-radius: 4px;
	box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.07);
	background-color: #ffffff;
	width: calc((100% - 60px) / 3);
}

.already-invested .x-img-wrap {
	height: 220px;
	overflow: hidden;
}

.already-invested .x-img-wrap img {
	width: 100%;
}

.already-invested .x-content-wrap {
	padding: 30px;
}

.already-invested .x-content-wrap .x-title-label {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: -0.18px;
	color: #656565;
}

.already-invested .x-content-wrap .x-title-value {
	font-size: 24px;
	font-weight: bold;
	line-height: 1.4;
	letter-spacing: -0.24px;
	color: #262626;
	margin-bottom: 15px;
}

.already-invested .x-content-wrap .x-body {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: -0.18px;
	color: #262626;
	margin-bottom: 30px;
}

.already-invested .x-content-wrap .x-address {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: -0.16px;
	color: #656565;
}

.investing-form {
	padding-top: 20px;
	margin-bottom: 60px;
}

.investing-form .x-form-wrap {
	width: 950px;
	max-height: 1000px;
	padding: 70px 196px 65px;
	margin: 0 auto;
	border-radius: 4px;
	box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.07);
	background-color: #ffffff;
	text-align: center;
	transition: all .6s;
}

.investing-form .x-form-title {
	font-size: 42px;
	font-weight: 600;
	line-height: 1.15;
	letter-spacing: -0.42px;
	color: #262626;
	margin-bottom: 20px;
}

.investing-form .x-form-subheader {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: -0.18px;
	color: #656565;
	margin-bottom: 40px;
}

.investing-form input {
	display: block;
	width: 100%;
	border-radius: 30px;
	border: solid 2px #dedede;
	background-color: #ffffff;
	box-shadow: none;
	font-family: inherit;
	outline: none;
	padding: 13px 30px;
	margin-bottom: 15px;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.2;
}

.investing-form input:focus {
	border-color: #ffb400;;
}

.investing-form .x-submit {
	margin: 228px auto 33px;
	padding: 15px 40px;
}

.investing-form .x-form-policy-wrap {
	font-size: 14px;
	color: #82848c;
}

.investing-form .policy-link {
	text-decoration: underline;
}

.investing-form .x-sum-slider-wrap {
	position: absolute;
	top: 450px;
	text-align: left;
	width: 100%;
}

.x-form-wrap .x-main-elements-wrap {
	opacity: 1;
	max-height: 1000px;
	transition: all .3s;
}

.x-form-wrap .x-loading-animation {
	opacity: 0;
	height: 89px !important;
	background-size: auto 100%;
	background-repeat: no-repeat;
	margin-bottom: 15px;
	transition: all .3s;
}

.x-form-wrap .x-loading-animation.x-success {
	background-image: url("../img/form_success.svg");
}

.x-form-wrap .x-loading-animation lottie-player {
	width: 89px !important;
	height: 89px !important;
}

.x-loading-wrap {
	opacity: 0;
	max-height: 0;
	transition: all .3s;
}

.x-loading-text {
	opacity: 0;
	transition: all .3s;
}

.x-loading-wrap .x-title {
	font-size: 42px;
	text-align: left;
	font-weight: 600;
	margin-bottom: 30px;
}

.x-loading-wrap .x-description {
	font-size: 18px;
	text-align: left;
	line-height: 1.4;
}

.investing-form .x-sum-slider-wrap .x-title {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: -0.36px;
	color: #656565;
	margin-bottom: 4px;
}

.investing-form .x-sum-slider-wrap .x-sum {
	font-size: 36px;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: -0.72px;
	color: #434343;
}

.form-slider {
	margin-top: 20px;
	background: #f0f0f0 !important;
	border-radius: 100px !important;
	height: 20px !important;
	cursor: pointer;
	margin-bottom: 15px;
	border: none !important;
}

.form-slider span {
	border-radius: 100px;
	height: 28px !important;
	width: 28px !important;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
	background-color: #ffffff !important;
	cursor: pointer !important;
}

.form-slider span {
	border: none !important;
	outline: none !important;
}

.x-sum-slider-wrap .x-values {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 14px;
	font-weight: 600;
	color: #979797;
}

.form-slider .ui-slider-range {
	background: #ffdf11;
	border-radius: 100px;
}

footer {
	padding: 20px 0 30px;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.38;
	letter-spacing: -0.32px;
	color: #979797;
}

footer .container {
	padding: 0 30px;
}

footer .container > .x-first {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid #c4c4c4;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

footer .container > .x-second {
	display: flex;
	justify-content: space-between;
}

footer .x-phone {
	font-size: 36px;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: -0.72px;
	color: #434343;
	margin-bottom: 10px;
}

footer .x-second .x-second {
	text-align: right;
}

.x-social-links {
	display: inline-flex;
}

.x-social-links a {
	width: 24px;
	height: 24px;
	margin-right: 15px;
	background-size: 24px;
}

.x-social-links a.x-vk { background-image: url("../img/social-vk.svg") }
.x-social-links a.x-facebook { background-image: url("../img/social-fb.svg") }
.x-social-links a.x-instagram { background-image: url("../img/social-inst.svg") }
.x-social-links a.x-youtube { background-image: url("../img/social-youtube.svg") }

.is-not-a-offer {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	height: 50px;
	background: #F0F0F0;
}

.is-not-a-offer div {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 138%;
	letter-spacing: -0.02em;
	color: #979797;
}

.x-hack {
	height: 100%;
	color: transparent;
}
