html, body {
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 1206px;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Inter', sans-serif;
	color: black;
	background-color: #FCFCFC;
}

* {
	position: relative;
	box-sizing: border-box;
	max-width: 100%;
}

@font-face {
	font-family: 'Inter', sans-serif;
	font-weight: normal;
	src: url("../fonts/Inter-Regular.ttf") format('truetype');
}

p, h2 {
	margin: 0;
}

button {
	border: none;
	outline: none;
}

.btn {
	border-radius: 100px;
	background-color: #ffdf11;
	padding: 12px 21px;
	top: -7px;
	font-size: 15px;
	font-weight: 600;
}

.container {
	width: 1206px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: inherit;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 9000px;
	opacity: .2;
	background-position: top center;
	background-image: url("../img/pixel.png");
	background-repeat: no-repeat;
}

#toggle-overlay {
	position: fixed;
	bottom: 30px;
	left: 30px;
	padding: 30px 50px;
	font-size: 20px;
	opacity: .8;
	border-radius: 20px;
	background-color: black;
	color: white;
	cursor: pointer;
}


/* ================= */

.main-site-link {
	background-color: #DFDFDF;
	background-image: url("../img/header-link.svg");
	background-position: top center;
	background-size: auto 100%;
	background-repeat: no-repeat;
	height: 60px;
}

.main-site-link .x-title {
	position: absolute;
	top: 20px;
	left: 327px;
	font-size: 18px;
}

.main-site-link .btn {
	position: absolute;
	top: 12px;
	right: 326px;
	background: none;
	border: 2px solid gray;
	padding: 7px 19px;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.25;
	letter-spacing: -0.32px;
	color: #434343;
}

header {
	display: flex;
	flex-direction: row;
	min-height: 70px;
	background-color: #FCFCFC;
}

.logo {
	top: 10px;
	max-width: 135px;
	margin-right: 72px;
	left: 31px;
}

header .x-links {
	display: inline-flex;
	flex-direction: row;
	max-width: 700px;
	margin-right: 265px;
	top: -5px;
}

header .x-link {
	margin-right: 27px;
}

.first-screen {
	background-color: #FFCF11;
}

.first-screen .container {
	display: flex;
	flex-direction: column;
	min-height: 614px;
	justify-content: center;
	padding: 15px 32px 20px;
	overflow: visible;
}

.first-screen .x-bg {
	position: absolute;
	top: 0;
	right: -138px;
	width: calc(100% + 200px);
	height: 100%;
	background-image: url("../img/fs_bg.png");
	background-repeat: no-repeat;
	background-position: calc(100% + 40px) 40px;
}

.first-screen h1 {
	font-size: 52px;
	line-height: 58px;
	margin: 0 0 30px;
	color: #262626;
}

.first-screen p {
	font-size: 18px;
	margin: 0 0 60px;
	color: #444444;
}

.first-screen .btn {
	border: 1px solid #444444;
	background-color: rgba(0, 0, 0, 0);
	font-size: 16px;
	padding: 14px 27px;
	color: #434343;
}

.main-props {
	margin-bottom: 30px;
}

.main-props .container {
	border-radius: 4px;
	box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.07);
	background-color: #ffffff;
	top: -74px;
	padding: 6px;
	left: -14px;
}

.main-props .x-props {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	padding: 48px 38px 48px 69px;
	margin: 0;
}

.main-props .x-icon-wrap {
	padding: 12px;
	border-radius: 100px;
	width: 72px;
	height: 72px;
	background-color: #f0f0f0;
	margin-bottom: 25px;
}

.main-props .x-icon {
	width: 48px;
	height: 48px;
}

.main-props .x-title {
	font-size: 24px;
	font-weight: 600;
	line-height: 1.1;
	letter-spacing: -0.24px;
	color: #262626;
	margin-bottom: 20px;
}

.main-props .x-body {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: -0.18px;
	color: #656565;
}

.map .container {
	padding: 165px 0 138px 31px;
}

.map .x-bg {
	position: absolute;
	top: -68px;
	right: -443px;
	width: 100%;
	height: 100%;
	background-image: url("../img/map.svg");
	background-repeat: no-repeat;
	background-position: 0 90px;
}

.map .x-title {
	font-size: 42px;
	font-weight: 600;
	line-height: 1.15;
	letter-spacing: -0.42px;
	color: #262626;
	margin-bottom: 30px;
}

.map .x-props-inline {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.4;
	letter-spacing: -0.2px;
	color: #656565;
	margin-bottom: 82px;
}

.achievements-on-map {
	display: flex;
}

.map .achievement-element {
	margin-right: 28px;
}

.franchise-invest {
	padding-top: 20px;
	text-align: center;
}

.franchise-invest h2 {
	margin: 0 auto 30px;
	line-height: 1.2;
	letter-spacing: -0.42px;
	color: #262626;
	font-size: 42px;
	font-weight: 600;
}

.franchise-invest p {
	max-width: 800px;
	margin: 0 auto 38px;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: -0.18px;
	color: #656565;
}

.franchise-invest .x-video-thumb {
	width: 710px;
	height: 461px;
	margin: 0 auto;
	border-radius: 4px;
	background-color: #F6E049;
	z-index: 1;
}

.risks {
	margin-top: -80px;
	padding-top: 157px;
	background-color: #f0f0f0;
	padding-left: 61px;
}

.risks h2 {
	line-height: 1.15;
	letter-spacing: -0.42px;
	color: #262626;
	font-size: 42px;
	font-weight: 600;
	margin: 35px 0 30px;
}

.risks p {
	margin-bottom: 55px;
	line-height: 1.4;
	letter-spacing: -0.18px;
	color: #656565;
	font-size: 18px;
	font-weight: 500;
}

.risks-tabs-variants ul {
	display: inline-flex;
	padding-left: 0;
	list-style: none;
	margin: 0;
}

.risks-slider {
	margin-bottom: 60px;
}

.risks-slider .x-tabs-line {
	line-height: 1.15;
	letter-spacing: -0.14px;
	color: #82848c;
	margin-bottom: 36px;
}

.risks-slider .x-tabs-line .x-tabs-wrap {
	display: inline-flex;
}

.risks-slider .x-tabs-line .x-tabs-elem.x-active {
	color: black;
	border-bottom: 2px solid black;
}

.risks-slider .x-tabs-line .x-tabs-elem {
	margin-right: 32px;
	padding: 18px 0;
}

.risks-slider .x-tabs-line .btn {
	position: absolute;
	top: 5px;
	right: 61px;
	font-size: 15px;
	font-weight: 600;
	padding: 15px 24px;
}

.risks-slider .x-variant .x-tab-body {
	display: block;
	width: 362px;
	padding: 30px;
	border-radius: 4px;
	background-color: white;
	margin-right: 30px;
}

.risks-slider .x-variant .x-tab-body .x-body {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: -0.18px;
	color: #82848c;
}

.risks-slider .x-title-first {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.4;
	letter-spacing: -0.2px;
	color: #262626;
}

.risks-slider .x-title-second {
	font-size: 36px;
	font-weight: 600;
	line-height: 1.4;
	letter-spacing: -0.36px;
	color: #262626;
	margin-bottom: 20px;
}

.same-risks-variants .x-title {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.4;
	letter-spacing: -0.2px;
	color: #262626;
	margin-bottom: 30px;
}

.same-risks-variants .x-elements {
	display: inline-flex;
	list-style: none;
	padding-left: 0;
	margin: 0;
	padding-bottom: 80px;
}

.same-risks-variants .x-element {
	width: 362px;
	padding: 30px;
	margin-right: 30px;
	border-radius: 4px;
	background-color: #ffdf11;
}

.same-risks-variants .x-element .x-title {
	font-size: 20px;
	font-weight: bold;
	line-height: 1.4;
	letter-spacing: -0.2px;
	color: #262626;
	margin-bottom: 5px;
}

.same-risks-variants .x-element .x-body {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: -0.18px;
	color: #262626;
	margin-bottom: 27px;
}

.same-risks-variants .x-element .x-result-title {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: -0.18px;
	color: #656565;
}

.same-risks-variants .x-element .x-result-body {
	font-size: 24px;
	font-weight: bold;
	line-height: 1.4;
	letter-spacing: -0.24px;
	color: #262626;
}

.main-info {
	padding-top: 80px;
}

.main-info .container {
	padding: 0 31px;
}

.main-info .x-part-first {
	display: inline-flex;
}

.main-info .fixed-sidebar-wrap {
	width: 360px;
	margin-right: 30px;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: -0.16px;
}

.main-info .fixed-sidebar-wrap h2 {
	font-size: 42px;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: -0.42px;
	color: #262626;
	margin: 0 0 40px;
}

.main-info .fixed-sidebar-wrap .x-subheader {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.1;
	letter-spacing: -0.2px;
	color: #262626;
	margin-bottom: 20px;
}

.main-info .fixed-sidebar-wrap .main-stats {
	color: #656565;
	margin-bottom: 20px;
}

.main-info .fixed-sidebar-wrap p:not(:last-child) {
	margin-bottom: 22px;
}

.main-info .main-info-body {
	width: calc(100% - 390px);
}

.main-info .x-part-first {
	margin-bottom: 60px;
}

.main-info .x-part-first img {
	margin-bottom: 30px;
	height: 500px;
	width: auto;
}

.main-info .x-part-first p {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: -0.18px;
	color: #656565;
}

.main-info .main-info-body p {
	font-size: 18px;
}

.main-info .x-part-first .x-body ~ img {
	margin-top: 83px;
}

.main-info .x-part-first h3 {
	font-size: 24px;
	font-weight: 600;
	line-height: 1.1;
	letter-spacing: -0.24px;
	color: #262626;
	margin: 0 0 15px;
}

.main-info .x-part-second .x-elements {
	display: inline-flex;
	justify-content: space-between;
}

.main-info .x-part-second .x-element {
	width: calc(50% - 15px);
}

.main-info .x-part-second .x-image {
	margin-bottom: 3px;
	max-height: 350px;
	width: 100%;
}

.main-info .x-part-second h3 {
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.1;
	letter-spacing: -0.24px;
	color: #262626;
}

.main-info .x-part-second p {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: -0.18px;
	color: #656565;
}

.main-info {
	margin-bottom: 80px;
}

.already-invested {
	padding-top: 20px;
	margin-bottom: 120px;
}

.already-invested .container {
	padding: 0 30px;
}

.already-invested h2 {
	font-size: 42px;
	font-weight: 600;
	line-height: 1.15;
	letter-spacing: -0.42px;
	color: #262626;
	margin-bottom: 40px;
}

.already-invested .btn {
	position: absolute;
	top: 50px;
	right: 32px;
	padding: 12px 26px;
}

.already-invested .x-elements {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding-left: 0;
}

.already-invested .x-element {
	border-radius: 4px;
	box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.07);
	background-color: #ffffff;
	width: calc((100% - 60px) / 3);
}

.already-invested .x-img-wrap {
	height: 220px;
	overflow: hidden;
}

.already-invested .x-img-wrap img {
	width: 100%;
}

.already-invested .x-content-wrap {
	padding: 30px;
}

.already-invested .x-content-wrap .x-title-label {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: -0.18px;
	color: #656565;
}

.already-invested .x-content-wrap .x-title-value {
	font-size: 24px;
	font-weight: bold;
	line-height: 1.4;
	letter-spacing: -0.24px;
	color: #262626;
	margin-bottom: 15px;
}

.already-invested .x-content-wrap .x-body {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: -0.18px;
	color: #262626;
	margin-bottom: 30px;
}

.already-invested .x-content-wrap .x-address {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: -0.16px;
	color: #656565;
}

.investing-form {
	padding-top: 20px;
	margin-bottom: 60px;
}

.investing-form .x-form-wrap {
	width: 950px;
	padding: 70px 196px 65px;
	margin: 0 auto;
	border-radius: 4px;
	box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.07);
	background-color: #ffffff;
	text-align: center;
}

.investing-form .x-form-title {
	font-size: 42px;
	font-weight: 600;
	line-height: 1.15;
	letter-spacing: -0.42px;
	color: #262626;
	margin-bottom: 20px;
}

.investing-form .x-form-subheader {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: -0.18px;
	color: #656565;
	margin-bottom: 40px;
}

.investing-form input {
	display: block;
	width: 100%;
	border-radius: 30px;
	border: solid 2px #dedede;
	background-color: #ffffff;
	font-family: inherit;
	outline: none;
	padding: 13px 30px;
	margin-bottom: 15px;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.2;
}

.investing-form .x-submit {
	margin: 228px auto 33px;
	padding: 15px 40px;
}

.investing-form .x-form-policy-wrap {
	font-size: 14px;
	color: #82848c;
}

.investing-form .policy-link {
	text-decoration: underline;
}

.investing-form .x-sum-slider-wrap {
	position: absolute;
	top: 513px;
	text-align: left;
}

.investing-form .x-sum-slider-wrap .x-title {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: -0.36px;
	color: #656565;
	margin-bottom: 4px;
}

.investing-form .x-sum-slider-wrap .x-sum {
	font-size: 36px;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: -0.72px;
	color: #434343;
}

footer {
	padding: 20px 0 30px;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.38;
	letter-spacing: -0.32px;
	color: #979797;
}

footer .container {
	padding: 0 30px;
}

footer .container > .x-first {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid #c4c4c4;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

footer .container > .x-second {
	display: flex;
	justify-content: space-between;
}

footer .x-phone {
	font-size: 36px;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: -0.72px;
	color: #434343;
	margin-bottom: 10px;
}

footer .x-policy {
	text-decoration: underline;
}



